.comment-head-main{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.comment-user-detail{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 20px;
}

.user-head{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 30px;
}

.comment-user-detail p{
    margin-top: -10px;
}

.comment{
    font-weight: 600;
}